.cards {
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1) !important;
    padding: 20px;
  
}

.cards:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0) !important;
    border: 1px solid whitesmoke;
}

.card-container {
    width: 75%; 
}

#platform {
    background: linear-gradient(to right, #7fd9e4);
    height: 300px;
}

#product {
    background: linear-gradient(to right, #4b97f7);
    height: 300px;
}

#company {
    background: linear-gradient(to right, #4a4af5);
    height: 300px;
}